body {
    padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro";
    font-weight: 400;
    text-transform: uppercase;
}

p, article, section {
    font-family: "Source Serif Pro";
    font-size: 20px;
    line-height: 1.5em;
}

article {
    max-width: 600px;
    margin: 0 auto;
}

.article-toc {
    position: fixed;
    top: 200px;
    text-align: right;
    font-size: 14px;
    width: 200px;
}

.article-toc ul {
    list-style: none;
}

.article-toc li {
    line-height: 1.5em;
    margin-top: 1em;
}

.article-toc a {
    text-decoration: none;
    color: #999;
}
